#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    border: #1a1a1a 1px solid;
}

.language {
    display: flex;
    flex-direction: column;
    border: #1a1a1a 1px solid;
}

.app .body {
    border: 1px solid #1a1a1a;
    margin-top: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 1rem;
}

.form-group {
    display: flex;
}

.input-group-text {
    align-items: center;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    color: #495057;
    display: flex;
    text-align: center;
}

.small-box {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    margin: 1rem;
}

.line-box {
    display: flex;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    content-visibility: hidden;
    position: absolute;
    z-index: 1;
}
.show-dropdown {
    content-visibility: visible;
}
